<template>
    <v-container grid-list-md>
        <v-layout wrap>

            <v-flex xs12>
                <v-text-field
                        v-model="value.descripcion"
                        :rules="Rules.descripcion"
                        label="Nombre"
                        required
                ></v-text-field>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
    import {required} from '@/rules'

    export default {
        name: "FormModel",
        props: ['value'],
        data: () => ({
            Rules: {
                descripcion: [required]

            },

        }),
    }
</script>

<style scoped>

</style>
