<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    :src="image"
    app
    color="grey darken-2"
    dark
    floating
    mobile-break-point="991"
    persistent
    width="260"
  >
    <template v-slot:img="attrs">
      <v-img
        v-bind="attrs"
        gradient="to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)"
      />
    </template>

    <v-list-item two-line>
      <v-list-item-avatar color="white">
        <v-img
          src="https://cdn.vuetifyjs.com/images/logos/v.png"
          height="34"
          contain
        />
      </v-list-item-avatar>

      <v-list-item-title class="title">
        VUETIFY MD
      </v-list-item-title>
    </v-list-item>

    <v-divider class="mx-3 mb-3"/>

    <v-list nav>
      <!-- Bug in Vuetify for first child of v-list not receiving proper border-radius -->
      <template v-for="(link, i) in menu">
        <v-list-item
          color="white"
          active-class="warning"
          v-if="link.usuarioSubMenus.length===0"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon v-text="`mdi-${link.imagen}`"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="link.descripcion"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-group
          v-else
          color="white"
          active-class="warning"
          :key="i"
          :prepend-icon="link.imagen"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="link.descripcion"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item color="white"
                       active-class="warning"
                       v-for="(subItem,s) in link.usuarioSubMenus" :key="s" :to="{name:subItem.url}">
            <v-list-item-icon>
<!--              <v-icon>{{`mdi-${subItem.imagen}`}}</v-icon>-->
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="subItem.descripcion"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </template>
    </v-list>

    <template v-slot:append>
      <v-list nav>
        <v-list-item
          to="/upgrade"
        >
          <v-list-item-action>
            <v-icon>mdi-package-up</v-icon>
          </v-list-item-action>

          <v-list-item-title class="font-weight-light">
            Upgrade To PRO
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </template>
  </v-navigation-drawer>
</template>

<script>
    // Utilities
    import {
        mapMutations,
        mapState
    } from 'vuex'

    export default {
        props: {
            opened: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            links: [
                {
                    to: {name:'Ubicacion'},
                    icon: 'mdi-map-marker',
                    text: 'Ubicacion'
                },
                {
                    to: {name:"Tipo Vehiculo"},
                    icon: 'mdi-view-dashboard',
                    text: 'Tipo Vehiculo'
                },
                {
                    to: {name:'Marca Vehiculo'},
                    icon: 'mdi-account',
                    text: 'Marca Vehiculo'
                },
                {
                    to: {name:'Tipo Documento'},
                    icon: 'mdi-clipboard-outline',
                    text: 'Tipo Documento'
                },
                {
                    to: {name:'Color Vehiculos'},
                    icon: 'mdi-clipboard-outline',
                    text: 'Color Vehiculos'
                },
                // {
                //     to: '/typography',
                //     icon: 'mdi-format-font',
                //     text: 'Typography'
                // },
                // {
                //     to: '/icons',
                //     icon: 'mdi-chart-bubble',
                //     text: 'Icons'
                // },
                //
                // {
                //     to: '/notifications',
                //     icon: 'mdi-bell',
                //     text: 'Notifications'
                // }
            ]
        }),

        computed: {
            ...mapState('app', ['image', 'color','setMenu']),
            menu(){
                return this.$store.state.app.menu
            },
            inputValue: {
                get() {
                    return this.$store.state.app.drawer
                },
                set(val) {
                    this.setDrawer(val)
                }
            }
        },

        methods: {
            ...mapMutations('app', ['setDrawer', 'toggleDrawer'])
        }
    }
</script>
