<template>
  <v-dialog v-model="dialog" persistent scrollable max-width="700px">
    <template v-slot:activator="{ on }">
      <v-icon v-on="on">mdi-plus</v-icon>
    </template>
    <v-card>
      <v-card-title>
        <span class="title font-weight-light">Crear Ciudad</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="save">
          <form-model v-model="model"/>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="red" text @click="togger">Cancel</v-btn>
        <v-btn color="blue" text @click="save">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
    import FormModel from "./Form";

    export default {
        props:['departamentoId'],
        name: "CrearMarca",
        components: {FormModel},
        data() {
            return {
                valid: true,
                dialog: false,
                model: {descripcion: "", estado: 1}
            };
        },

        computed: {},
        methods: {
            togger() {
                this.$refs.form.reset();
                this.$refs.form.resetValidation();
                this.dialog = !this.dialog;
            },
            async save() {
                if (!this.$refs.form.validate()) {
                    this.$root.$emit("snackbar", {
                        texto: "Complete todos los campos"
                    });
                    return;
                }
                this.model.departamentoId = this.departamentoId
                const data = _.get(await this.$http.post(`Ciudad/Save`, this.model).catch(err => {
                    console.log(err)
                }), 'data', false);
                if (data) {
                    this.$emit('save')
                    this.$root.$emit("snackbar", {
                        texto: "Datos Guardados con exito"
                    });
                    this.togger()
                }
            }
        }
    };
</script>

<style scoped>
</style>
