<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-row justify="center">
      <v-col cols="12">
        <material-card
          color="primary"
          title="Lista De Ciudades"
        >
          <template v-slot:acciones>
            <api-search class="mx-4" label="Selecciona un Pais" api="Pais" v-model="filter.PaisId" />
            <api-search class="mx-4" label="Selecciona un Departamento" :api="`Departamento/${filter.PaisId}`" v-model="filter.DepartamentoId" @change="getLista"/>
            <crear-pais @save="getLista" :departamento-id="filter.DepartamentoId"/>
            <editar-pais @save="getLista" ref="editar"/>
            <text-search class="mx-4" v-model="search"/>
          </template>
          <v-data-table
            :loading="loading"
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template v-slot:item.estado="{ item }">
              <v-chip :color="(item.estado===2)?'red':'green'" dark @click="estadoUpdate(item)">{{ (item.estado===2)?'Inactivo':'Activo' }}</v-chip>
            </template>
            <template v-slot:item.Acciones="{ item }">
              <v-btn small icon>
                <v-icon @click="editItem(item)">mdi-circle-edit-outline</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
    import CrearPais from "./Crear";
    import EditarPais from "./Editar"

    export default {
        name: "ListaDepartamento",
        components: {CrearPais,EditarPais},
        data: () => ({
            search:'',
            loading: true,
            sort: "Descripcion|asc",
            page: 1,
            perPage: 5000,
            filter: {
                PaisId:null,
                DepartamentoId:null,
            },
            headers: [
                {
                    sortable: false,
                    text: 'Descripcion',
                    value: 'descripcion'
                },
                {
                    sortable: false,
                    text: 'Estado',
                    value: 'estado',
                    align: 'right'
                },
                {text: "Acciones", value: "Acciones", align: 'right'}
            ],
            items: []
        }),
        mounted() {
            // this.getLista()
        },
        methods: {
            async getLista() {
                this.loading = true;
                let filtro = JSON.stringify(this.filter);
                const data = _.get(await this.$http(`Ciudad/GetListPaginado/${this.sort}/${this.page}/${this.perPage}/?filter=${filtro}`, this.model).catch(err => {
                    console.log(err)
                }), 'data', false);
                if (data) {
                    this.items = _.get(data, 'data')
                }
                this.loading = false;
            },
            editItem(item) {
                 this.$refs.editar.open(item);
            },
            estadoUpdate(item) {
                let estadoActual = item.estado;
                let estado = (estadoActual === 1) ? 2 : 1;

                this.$root.$emit("open-alert", {
                    titulo: "Cambio Estado",
                    descripcion: "Segurpo que desea cambiar de estado",
                    botones: [
                        {
                            text: "Aceptar",
                            callback: async () => {
                                const data = _.get(await this.$http(`Ciudad/UpdateEstado/${item.ciudadId}/${estado}`).catch(err => {
                                    console.log(err)
                                }), 'data', false);
                                if (data) {
                                    item.estado = estado;
                                    this.$root.$emit("snackbar", {
                                        texto: "Estado Actualizado con exito"
                                    });
                                }else{
                                    item.estado = estadoActual
                                }
                            }
                        },
                        {
                            text: "Cancelar"
                        }
                    ]
                });
            }
        }
    }
</script>

<style scoped>

</style>
