<template>
  <v-parallax
    style="height: 100vh;"
    src="https://livedemo00.template-help.com/wt_58895/images/bg-image-01.jpg"
  >
    <v-container
      fill-height
      fluid
    >
      <v-row justify="center">

        <material-card
          color="green"
          title="Login"
        >
          <v-form>
            <v-container class="py-0">
              <v-row>

                <v-col cols="12">
                  <v-text-field
                    v-model="model.userName"
                    label="Adress"
                    class="purple-input"
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="model.password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required, rules.min]"
                    :type="show1 ? 'text' : 'password'"
                    name="input-10-1"
                    label="Normal with hint text"
                    hint="At least 8 characters"
                    counter
                    @click:append="show1 = !show1"
                  ></v-text-field>
                </v-col>

                <v-col
                  class="text-center"
                  cols="12"
                >
                  <v-btn @click="login" outlined color="indigo" :loading="loading">
                    Ingresar
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </material-card>

      </v-row>
    </v-container>
  </v-parallax>

</template>

<script>
    import {mapMutations} from 'vuex'

    export default {
        layout: "basic",
        name: "Login",
        data() {
            return {
                show1: false,
                loading: false,
                model: {
                    userName: "admin",
                    password: "123qwe"
                },
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 8 || 'Min 8 characters',
                    emailMatch: () => ('The email and password you entered don\'t match'),
                },
            }
        },
        methods: {

            ...mapMutations('app', ['setMenu','setToken']),

            async login() {
                this.loading = true;
                const data = _.get(await this.$http.post('Usuario/authenticate', this.model).catch(err => {
                    console.log(err)
                }), 'data', false);

                if (data) {
                    this.loading = false;
                    localStorage.setItem('AUTH_TOKEN', _.get(data, 'token'));

                    localStorage.setItem('USER', JSON.stringify(data));
                    localStorage.setItem('usuarioMenus', JSON.stringify(_.get(data, 'usuarioMenus')));
                    this.setMenu(_.get(data, 'usuarioMenus'))
                    this.setToken(_.get(data, 'token'))
                    await this.$router.push({name: 'Dashboard'})
                }
            }
        }
    }
</script>

<style scoped>

</style>
