<template>
    <v-dialog
            v-model="dialog"
            max-width="290"
    >
        <v-card>
            <v-card-title class="headline">{{ titulo }}</v-card-title>

            <v-card-text>
                {{ descripcion }}
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                        v-for="(btn,key) in botones"
                        :key="key"
                        color="green darken-1"
                        text
                        @click="acccion(btn.callback)"
                >
                    {{btn.text}}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "Dialogo",
        data() {
            return {
                dialog: false,
                titulo: '',
                descripcion: '',
                botones: [],
            }
        },
        mounted() {
            this.$root.$on('open-alert', (data) => {
                this.titulo = data.titulo || '';
                this.descripcion = data.descripcion || '';
                this.botones = data.botones || '';
                this.dialog = true;
            });
        },
        methods: {
            acccion(callback) {
                if (callback) {
                    callback();
                }
                this.dialog = false;

            }
        }
    }
</script>

<style scoped>

</style>