<template>
  <v-autocomplete
    v-model="model"
    :items="items"
    :loading="isLoading"
    :search-input.sync="search"
    color="white"
    hide-no-data
    hide-selected
    item-text="Description"
    item-value="API"
    :label="label"
    :placeholder="placeholder"
    return-object
  ></v-autocomplete>
</template>

<script>
    export default {
        props:['label','placeholder','api'],
        name: "ApiSearch",
        data: () => ({
            descriptionLimit: 60,
            entries: [],
            isLoading: false,
            model: null,
            search: null,
        }),
        computed: {
            items () {
                return this.entries.map(entry => {
                    const Description = entry.value.length > this.descriptionLimit
                        ? entry.value.slice(0, this.descriptionLimit) + '...'
                        : entry.value

                    return Object.assign({}, entry, { Description })
                })
            },
        },
        watch: {
            api(){
                this.model = null
            },
            model(val){
              this.$emit('input',_.get(val,'key'));
              this.$emit('change',val)
            },
            search (val) {

                // Items have already been requested
                if (this.isLoading) return

                this.isLoading = true

                // Lazily load input items
                this.$http(`${this.api}/GetListAutocomplete/10`,{params:{value:val}})
                    .then(res => {
                        // const { count, entries } = res
                        // this.count = count
                         this.entries = _.get(res,'data')
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    .finally(() => (this.isLoading = false))
            },
        },
    }
</script>

<style scoped>

</style>
