<template>
  <div class="text-center ma-2">
    <v-snackbar
      top
      right
      v-model="snackbar"
    >
      {{ texto }}
      <v-btn
        color="pink"
        text
        @click="snackbar = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  export default {
    data: () => ({
      snackbar: false,
      texto: '',
    }),

     mounted() {
            this.$root.$on('snackbar', (data) => {
                this.texto = data.texto || '';
                this.snackbar = true;
            });
        },
  }
</script>
