<template>
  <v-slide-x-transition>
    <v-text-field
      v-if="buscar"
      @input="input"
      autofocus
      solo
      flat
      hide-details
      prepend-inner-icon="mdi-magnify"
      append-icon="mdi-close"
      single-line
      @click:append="buscar=false"
    ></v-text-field>
    <v-btn icon v-else @click="buscar=true">
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
  </v-slide-x-transition>

</template>

<script>
    export default {
        props: ["value"],
        name: "TextSearch",
        data() {
            return {
                buscar: false
            };
        },
        methods: {
            input(val) {
                this.$emit("input", val);
            }
        }
    }
</script>

<style scoped>

</style>
