<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-row justify="center">
      <v-col cols="12">
        <material-card
          color="primary"
          title="Lista De Colores Vehiculo"
        >
          <template v-slot:acciones>
            <crear-Marca-vehiculo @save="getLista"/>
            <editar-Marca-vehiculo @save="getLista" ref="editar"/>
            <text-search class="mx-4" v-model="search"/>
          </template>
          <v-data-table
            :loading="loading"
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template v-slot:item.estado="{ item }">
              <v-chip :color="(item.estado===2)?'red':'green'" dark @click="estadoUpdate(item)">{{
                (item.estado===2)?'Inactivo':'Activo' }}
              </v-chip>
            </template>
            <template v-slot:item.Acciones="{ item }">
              <v-btn small icon>
                <v-icon @click="editItem(item)">mdi-circle-edit-outline</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </material-card>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
    import CrearMarcaVehiculo from "./Crear";
    import EditarMarcaVehiculo from "./Editar";

    export default {
        name: "listarMarcaVehiculo",
        components: {CrearMarcaVehiculo, EditarMarcaVehiculo},
        data: () => ({
            search: '',
            loading: true,
            sort: "Descripcion|asc",
            page: 1,
            perPage: 5000,
            filter: null,
            headers: [
                {
                    sortable: false,
                    text: 'Descripcion',
                    value: 'descripcion'
                },
                {
                    sortable: false,
                    text: 'Estado',
                    value: 'estado',
                    align: 'right'
                },
                {text: "Acciones", value: "Acciones", align: 'right'}
            ],
            items: []
        }),
        mounted() {
            this.getLista()
        },

        methods: {
            async getLista() {
                this.loading = true;
                const data = _.get(await this.$http(`Color/GetListPaginado/${this.sort}/${this.page}/${this.perPage}`, this.model).catch(err => {
                    console.log(err)
                }), 'data', false);
                if (data) {
                    this.items = _.get(data, 'data')
                }
                this.loading = false;
            },
            editItem(item) {
                this.$refs.editar.open(item);
            },
            estadoUpdate(item) {
                let estadoActual = item.estado;
                let estado = (estadoActual === 1) ? 2 : 1

                this.$root.$emit("open-alert", {
                    titulo: "Cambio Estado",
                    descripcion: "Desea cambiar de estado",
                    botones: [
                        {
                            text: "Aceptar",
                            callback: async () => {
                                const data = _.get(await this.$http(`Color/UpdateEstado/${item.colorId}/${estado}`).catch(err => {
                                    console.log(err)
                                }), 'data', false);
                                if (data) {
                                    item.estado = estado
                                    this.$root.$emit("snackbar", {
                                        texto: "Estado Actualizado con exito"
                                    });
                                } else {
                                    item.estado = estadoActual
                                }
                            }
                        },
                        {
                            text: "Cancelar"
                        }
                    ]
                });
            }
        }
    };
</script>

<style scoped>
</style>
