<template>
  <div>
    <v-tabs
      v-model="tab"
      background-color="transparent"
      color="basil"
      grow
    >
      <v-tab
        v-for="item in items"
        :key="item"
      >
        {{ item }}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="item in items"
        :key="item"
      >
        <v-card flat color="basil">
          <component  :is="item" />
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
  <!--<v-container grid-list-md>
    <v-layout wrap>
      <v-flex xs4>
        <pais />
      </v-flex>
      <v-flex xs4>
        <departamento />
      </v-flex>
      <v-flex xs4>
        <ciudad />
      </v-flex>
    </v-layout>
  </v-container>-->
</template>

<script>
import Pais from "./Pais/Lista";
import Departamento from "./Departamento/Lista";
import Ciudad from "./Ciudad/Lista";
import Barrio from "./Barrio/Lista";

export default {
  name: "DashboardUbicacion",
  components: { Pais,Departamento,Ciudad,Barrio },
    data () {
        return {
            tab: null,
            items: [
                'Pais', 'Departamento', 'Ciudad', 'Barrio',
            ],
        }
    },
};
</script>

<style scoped>
</style>
