<template>
  <v-app>
    <core-app-bar/>

    <core-drawer/>

    <core-view/>

    <!--    <core-footer />-->
  </v-app>
</template>

<script>
    import {mapMutations} from 'vuex'
    export default {
        name: "default",
        created() {
            this.setMenu(JSON.parse(localStorage.getItem('usuarioMenus')))
            this.setToken(localStorage.getItem('AUTH_TOKEN'))
        },
        methods: {
            ...mapMutations('app', ['setMenu','setToken']),
        }
    }
</script>

<style scoped>

</style>
