<template>
  <v-dialog v-model="dialog" scrollable persistent max-width="700px">
    <v-card>
      <v-card-title>
        <span class="title font-weight-light">Editar Marca Vehiculo</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="save">
          <form-model v-model="model" />
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="red" text @click="togger">Cancel</v-btn>
        <v-btn color="blue" text @click="save">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import FormModel from "./Form";
export default {
  name: "EditarMarca",
  components: { FormModel },
  data() {
    return {
      valid: true,
      dialog: false,
      model: {}
    };
  },
  methods: {
    open(ItemEdit) {
      this.model = { ...ItemEdit };
      this.dialog = true;
    },
    togger() {
      this.dialog = !this.dialog;
    },
    async save() {
      if (!this.$refs.form.validate()) {
        this.$root.$emit("snackbar", {
          estado: true,
          texto: "Complete todos los campos"
        });
        return;
      }
        const data = _.get(await this.$http.post(`Marca/Save`, this.model).catch(err => {
            console.log(err)
        }), 'data', false);
        if (data) {
            this.$emit('save')
            this.$root.$emit("snackbar", {
                texto: "Datos Actualizado con exito"
            });
            this.togger()
        }
    }
  }
};
</script>

<style scoped>
</style>
